.product-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-form div {
  width: 200px;
}

.product-form div input {
  width: 200px;
  padding: 2px;
}

.select-category {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-form button {
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-top: 10px;
}
