.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #000;
  margin-bottom: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.nav div {
  width: 2px;
  height: 100%;
  background-color: #000;
}
